@import "constants.less";

/* Базовые стили кнопок
 * Цветовые вариации */

/* розовый */
.pink {
  color: @rus_color_font;
}

.pink:hover {
  border: 0.0625em solid @rus_color_back;
  background: rgba(239, 33, 74, 0.75);
  color: rgba(239, 33, 74, 1);
}

.pink:hover:before {
  border: 0.0625em solid rgba(239, 33, 74, 1);
  color: rgba(239, 33, 74, 1);
}

.pink:hover:after {
  border: 0.0625em solid rgba(239, 33, 74, 1);
  color: rgba(239, 33, 74, 1);
  background: rgba(239, 33, 74, 1);
}

.pink:before {
  background: rgba(239, 33, 74, 1);
  border: 0.0625em solid rgba(239, 33, 74, 1);
}

.pink:after {
  background: rgba(239, 33, 74, 1);
  border: 0.0625em solid rgba(239, 33, 74, 1);
}

.purple:hover {
  border: 0.0625em solid rgba(112, 52, 84, 1);
  background: rgba(112, 52, 84, 0.75);
  color: rgba(112, 52, 84, 0.75);
}

.purple:hover:before {
  border: 0.0625em solid rgba(112, 52, 84, 1);
  color: rgba(112, 52, 84, 1);
}

.purple:hover:after {
  border: 0.0625em solid rgba(112, 52, 84, 1);
  color: rgba(112, 52, 84, 1);
  background: rgba(112, 52, 84, 1);
}

.purple:before {
  background: rgba(112, 52, 84, 1);
  border: 0.0625em solid rgba(112, 52, 84, 1);
}

.purple:after {
  background: rgba(112, 52, 84, 1);
  border: 0.0625em solid rgba(112, 52, 84, 1);
  border: 0.0625em solid rgba(112, 52, 84, 1);
}

/* морская волна */
.blue {
  color: @world_color_font;
}

.blue:hover {
  border: 0.0625em solid rgba(6, 129, 128, 1);
  background: @world_color_back;
  color: rgba(6, 129, 128, 0.75);
}

.blue:hover:before {
  border: 0.0625em solid rgba(6, 129, 128, 1);
  color: rgba(6, 129, 128, 1);
}

.blue:hover:after {
  border: 0.0625em solid rgba(6, 129, 128, 1);
  color: rgba(6, 129, 128, 1);
  background: rgba(6, 129, 128, 1);
}

.blue:before {
  background: rgba(6, 129, 128, 1);
  border: 0.0625em solid rgba(6, 129, 128, 1);
}

.blue:after {
  background: rgba(6, 129, 128, 1);
  border: 0.0625em solid rgba(6, 129, 128, 1);
}

/* желтый */
.yelow:hover {
  border: 0.0625em solid rgba(243, 202, 22, 1);
  background: rgba(243, 202, 22, 0.75);
  color: rgba(243, 202, 22, 0.75);
}

.yelow:hover:before {
  border: 0.0625em solid rgba(243, 202, 22, 1);
  color: rgba(243, 202, 22, 1);
  background: rgba(243, 202, 22, 1);
}

.yelow:hover:after {
  border: 0.0625em solid rgba(243, 202, 22, 1);
  color: rgba(243, 202, 22, 1);
}

.yelow:before {
  background: rgba(243, 202, 22, 1);
  border: 0.0625em solid rgba(243, 202, 22, 1);
}

.yelow:after {
  background: rgba(243, 202, 22, 1);
  border: 0.0625em solid rgba(243, 202, 22, 1);
}

/* зелёный */
.green {
  color: @blr_color_font;
}

.green:hover {
  border: 0.0625em solid @blr_color_back;
  background: rgba(0, 214, 96, 0.75);
  color: rgba(0, 214, 96, 0.75);
}

.green:hover:before {
  border: 0.0625em solid rgba(0, 214, 96, 1);
  color: rgba(0, 214, 96, 1);
}

.green:hover:after {
  border: 0.0625em solid rgba(0, 214, 96, 1);
  color: rgba(0, 214, 96, 1);
  background: rgba(0, 214, 96, 1);
}

.green:before {
  background: rgba(0, 214, 96, 1);
  border: 0.0625em solid rgba(0, 214, 96, 1);
}

.green:after {
  background: rgba(0, 214, 96, 1);
  border: 0.0625em solid rgba(0, 214, 96, 1);
}

/* серый */
.gray:hover {
  border: 0.0625em solid rgba(212, 215, 212, 1);
  background: rgba(212, 215, 212, 0.75);
  color: rgba(212, 215, 212, 0.75);
}

.gray:hover:before {
  border: 0.0625em solid rgba(212, 215, 212, 1);
  color: rgba(212, 215, 212, 1);
}

.gray:hover:after {
  border: 0.0625em solid rgba(212, 215, 212, 1);
  color: rgba(212, 215, 212, 1);
  background: rgba(212, 215, 212, 1);
}

.gray:before {
  background: rgba(212, 215, 212, 1);
  border: 0.0625em solid rgba(212, 215, 212, 1);
}

.gray:after {
  background: rgba(212, 215, 212, 1);
  border: 0.0625em solid rgba(0212, 215, 212, 1);
}

.first_place {
  background-color: #3c763d !important;
}

.second_place {
  background-color: #28a745 !important;
}

.last_place {
  background-color: #a94442 !important;
}

.prelast_place {
  background-color: #dc3545 !important;
}