@import "constants.less";
@import "common_elements";

// -------------------------------------
// Бегущая строка
// -------------------------------------
.running_line {
  width: @window_width;
  height: 50px;
  margin: 0;
  padding: 0;
  background: white;
  border-bottom: @border_block;
  border-top: @border_block;
  line-height: 3.2;
  white-space: nowrap;
  overflow: hidden;
}

.running_line * {
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: scroll 30s infinite linear;
  animation: scroll 30s infinite linear;
}

.running_line *:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
  }
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0)
  }
}

// -------------------------------------
// Информационная часть главной страницы
// -------------------------------------
.main_info {
  width: @window_width;

  h1 {
    .panel_title;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 25px;
    border-radius: 3px;
    width: 230px;
  }

  .news_block {
    width: @width_left;
    padding-top: 15px;
  }

  .tournaments_block {
    width: @width_right;
    padding-top: 15px;
    border-left: @border_block;
  }
}

// Элемент "новость о турнире"
.news_element {
  width: 650px;
  margin: 0 0 25px 10px !important;
  padding: 0;

  .news_data {
    margin: 0 0 15px 0;
    padding: 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    position: relative;
    cursor: default;
    border-radius: 2px;
    border: @inner_block_border;
    font-size: 16px;

    &:hover {
      box-shadow: @box_shadow_block;
    }

    .news_img {
      display: table-cell;
      width: 250px;

      img {
        width: 100%;
      }
    }

    .news_title {
      font-size: @fs_menu_panel_title;
    }

    .news_text {
      font-size: @fs_text;
    }

    .news_date {
      font-size: @fs_text;
      margin-bottom: 5px;
    }

    .news_footer {
      text-align: right;
      width: 100%;
      margin: 0;
      padding: 12px 5px;
      display: block;
      background: #fcfcfc;
      border-top: @inner_block_border;
    }

    .news_author {
      padding: 15px 10px;
      vertical-align: middle;
      border-left: @inner_block_border;
    }
  }
}

// Элемент "новость о матче"
.match_element {
  width: 650px;
  margin: 0 0 25px 10px !important;
  padding: 0;

  .match_data {
    margin: 0 0 15px 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    position: relative;
    cursor: default;
    border-radius: 2px;
    border: @inner_block_border;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;

    &:hover {
      box-shadow: @box_shadow_block;
    }

    .match_img {
      display: table-cell;
      width: 295px;

      img {
        width: 160px;
        height: 85px;
        margin: 0px 30px;
      }
    }

    .match_title {
      font-size: @fs_menu_panel_title;
    }

    .match_date {
      font-size: @fs_text;
    }

    .match_footer {
      text-align: right;
      width: 100%;
      margin: 0;
      padding: 12px 5px;
      display: block;
      background: #fcfcfc;
      border-top: @inner_block_border;
    }

    .match_author {
      padding: 15px 10px;
      vertical-align: middle;
      border-left: @inner_block_border;
    }
  }
}

// Элемент "турнир"
.main_tournament_css {
  width: 230px;
  margin-left: 10px;

  p {
    padding: 10px;
    border: @inner_block_border;

    &:hover {
      box-shadow: @box_shadow_block;
    }
  }

  small {
    font-size: @fs_a_text;
    line-height: 2;
  }

  a {
    padding-left: 15px;
    display: inline-block;
  }

  i {
    padding-left: 15px;
    font-size: @fs_a_text;
  }
}

